.formbar{
	display: flex;
	background-color: #d5d1d0;
	height: 180px;
	width: 800px;
	margin-top: 0 !important;
	padding-top: 0;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;

}

.p1{
	font-size: 35px;
	padding-left: 30px;
	color: darkslategrey;

}
.p2{
	font-size: 20px;
	font-family: Centaur;
	padding-left: 30px;
	color: blueviolet;
}
.task{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 20px;
	padding: 4px;
}
.subtask{
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
	.subtask .pc{
		width: 45%;
		border-radius: 6px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
		flex-shrink: 0;
	}
	.subtask .cont{
		flex: 1;
		color: #ccc;

	}
	.subtask .cont p{
		font-size: 0.95rem;
		line-height: 1.6;
		padding-top: ;


	}